.colorPag{
    background-color: rgb(227, 224, 224);
}

.btnInfoCartelera {
    width: 300px;
    color: gray;
    border-color: black;
    font-size: 12px;
}

.txtInfoCartelera {
    color: red;
}



